<section class="sect-marquee">
   <div class="container-fluid">
      <p>SELAMAT DATANG DI LINETOGEL BANDAR SLOT TERPERCAYA INDONESIA | MENANG BERAPAPUN PASTI DIBAYAR | BONUS TURNOVER
         0.5% MENANTI ANDA KHUSUS SLOT GAMES.</p>
   </div>
</section>

<!-- <section class="hero-banner">
   <div class="container">
      <div class="hero-banner">
         <img src="../img/hero-banner.webp" alt="hero-banner" class="img-fluid w-100">
      </div>
   </div>
</section> -->

<section class="sect-hero-backUp">
   <div class="container">
      <div class="text-hero">
         <h1>
            The best website <br />
            <span>Game online slot</span> <br />
            money transaction
         </h1>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni eum cumque temporibus consequatur
            voluptatibus molestias cupiditate aspernatur dolores vero id.</p>
         <a href="#" class="btns-custom">Play Now</a>
      </div>
   </div>
</section>

<section class="sect-2-home-backUp">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="item-image-left">
               <img src="../img/01.jpg" alt="" class="img-fluid">
            </div>
         </div>
         <div class="col-md-6 items-text-right">
            <div class="items-text-right">
               <h1>WELCOME TO SLOT RTP</h1>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, neque qui possimus velit incidunt
                  ea reprehenderit quod doloremque cumque labore expedita</p>
               <div class="item-desc d-flex align-items-center">
                  <div class="number">

                     <h3>1</h3>
                  </div>
                  <div class="text">
                     <h1>REGISTER Now</h1>
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde corporis!</p>
                  </div>
               </div>
               <div class="item-desc d-flex align-items-center">
                  <div class="number">

                     <h3>2</h3>
                  </div>
                  <div class="text">
                     <h1>DEPOSIT CASH</h1>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo laborum beatae odio harum neque
                        alias eum impedit distinctio cum quo.</p>
                  </div>
               </div>
               <div class="item-desc d-flex align-items-center">
                  <div class="number">

                     <h3>3</h3>
                  </div>
                  <div class="text">
                     <h1>START Game RTP</h1>
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde corporis iste, sapiente quae
                        velit nemo!</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="sect-2-home">
   <div class="container">
      <!-- <div class="box-logo mx-auto text-center">
         <img src="../img/logo.png" alt="logo" class="img-fluid">
      </div> -->

      <div class="items-btn d-flex justify-content-center align-items-center">
         <div class="btn-custom w-100">
            <a href="#" class="">
               bukti bayar
            </a>
         </div>
         <div class="btn-custom w-100">
            <a href="#" class="">
               prediksi togel
            </a>
         </div>

      </div>

      <div class="title text-center">
         <h1>RTP Slot Terbaik Hari Ini</h1>
      </div>

      <div class="date-now text-center">
         <p>
            <%= timeNow.day %>, <%= timeNow.date %>
                  <%= timeNow.month %>
                     <%= timeNow.year %>
         </p>
      </div>
   </div>
</section>

<section class="sect-3-home">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="text">
               <h1>EXPERIENCE GAMING <br class="d-none d-md-block" /> WITH NO LIMITS</h1>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque aperiam labore similique. Ipsum
                  voluptatem harum culpa ex placeat itaque distinctio.</p>
            </div>

            <hr />
            <div class="d-flex align-items-center items-limits">
               <div class="d-flex align-items-center support">
                  <img src="../img/check.svg" alt="check" class="img-fluid">
                  <h1>24/7 SUPPORT</h1>
               </div>
               <div class="d-flex align-items-center support">
                  <img src="../img/check.svg" alt="check" class="img-fluid">
                  <h1>Offers & care</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="sect-4-home">

   <label for="searchInput">Search by Game Name:</label>
   <input type="text" id="searchInput" >


   <img src="../img/casino-stain-2.webp" alt="" class="img-fluid bg-game">
   <div class="items-sorting d-flex justify-content-between">
      <!-- <div class="btn-search">
         <input type="text" id="searchInput" placeholder="Cari berdasarkan judul">
      </div> -->


   </div>
   <div class="container">
      <div class="title text-center">
         <h1>Top slot games</h1>
      </div>

      <div class="row" id="searchResults">
         <% data.forEach(item=> { %>
            <div class="col-lg-4 col-md-6" id="searchResults">
               <div class="card-games" id="searchResults">
                  <div class="card-game-images img-fluid">
                     <img src="img/cards/<%= item.img_url %>" class="card-img-top img-fluid" alt="...">
                  </div>
                  <div class="card-game-content ">
                     <div class="d-flex justify-content-between">

                        <div class="d-flex wrap-content">
                           <div class="content-left">
                              <div class="card-image-content">
                                 <img src="img/cards/<%= item.img_url %>" class="img-fluid" alt="...">
                              </div>
                           </div>
                           <div class="content-center">
                              <h5 class="card-title" id="searchResults">
                                 <%= item.game_name %>
                              </h5>
                              <p>
                                 <%= item.vendor_name %>
                              </p>
                           </div>
                        </div>
                        <div class="content-right">
                           <h5>pola</h5>
                        </div>
                     </div>

                     <div class="progress mb-2">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%"
                           aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <button class="btn w-100">Play</button>
                  </div>
               </div>
            </div>
            <% }) %>
      </div>
   </div>
</section>

<!-- <script>
   const searchInput = document.getElementById('searchInput');
   const searchResults = document.getElementById('searchResults');

   searchInput.addEventListener('input', function () {
      const searchTerm = this.value;

      // Kirim permintaan AJAX ke server untuk pencarian
      fetch(`/${searchTerm}`)
         .then(response => response.json())
         .then(data => {
            // Tampilkan hasil pencarian
            console.log(data)
            searchResults.innerHTML = data.map(item => `<li>${item.game_name}</li>`).join('');
         });
   });
</script> -->

<!-- <script>
   // Function to perform search based on game name
   function searchByGameName() {
      const searchInput = document.getElementById('searchInput').value.toLowerCase();
      const cardContainer = document.getElementById('cardContainer');

      // Show all cards initially
      cardContainer.querySelectorAll('.card-games').forEach(card => {
         card.style.display = 'block';
      });

      // Filter cards based on search input
      if (searchInput.trim() !== '') {
         cardContainer.querySelectorAll('.card-games').forEach(card => {
            const gameName = card.querySelector('.card-title').textContent.toLowerCase();
            if (!gameName.includes(searchInput)) {
               card.style.display = 'none';
            }
         });
      }
   }
</script> -->